.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*APPNAVBAR CSS styles*/
/*Font style for "The Cookie Bakery*/
.navbar-brand {
  font-family: 'Pacifico', cursive;
  color: floralwhite;
}

/*Hex color for AppNavBar*/
.rubber-radish {
  background-color: #ff9e93;
  color: white;
}


/*BANNER CSS styles*/
.app-banner-container {
  position: relative;
  height: calc(100vh - 100px); /* Set the height to fill the viewport, minus 50px for the AppNavBar height */
  margin-top: 80px; /* Add space on top from the AppNavBar */
  display: flex;
  align-items: center;
}

.image-column {
  padding: 1rem;
  background-size: cover;
  background-position: center;
  border-radius: 50% 50% 0 0;
  position: relative;
  top: 70px;
  left: 0;
  right: 0;
  height: 100%; /* Set the height to 100% of the container */
}

.content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.cookie-heading {
  font-family: 'Pacifico', cursive;
}


/*LOGIN CSS*/
.login-container {
  padding: 70px;
  margin-bottom: 10px;
}


/*REGISTER CSS*/
.register-container {
  padding: 70px;
  margin-bottom: 10px;
  height: 100vh;
}

.register-form {
  border: 1px solid #ccc;
  padding: 20px;
}

/*EDIT PRODUCT CSS styles*/
.edit-product-table-container {
  margin-top: 80px; /* Adjust the top margin to create space for the app navbar */
}

.edit-product-header {
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
  text-align: center;
}

.edit-product-table {
  width: 100%; /* Set the table width to 100% */
}

.edit-product-table th,
.edit-product-table td {
  text-align: center; /* Center align the table headers and cells */
  vertical-align: middle; /* Vertically align the table content */
}

.edit-product-table tbody tr {
  background-color: #f9f9f9; /* Background color for table rows */
}

.edit-product-table tbody tr:nth-child(odd) {
  background-color: #f0f0f0; /* Alternate row background color */
}

.edit-product-table tbody tr td:last-child {
  display: flex; /* Use flexbox to align buttons in the last column */
  gap: 8px; /* Add some space between buttons */
}

/* Button styles */
.edit-product-table tbody tr td:last-child button {
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}


/* Blue background for 'Update' button */
.edit-product-table tbody tr td:last-child button.variant-primary {
  background-color: #007bff;
  color: #fff;
}

/* Green background for 'Enable' button */
.edit-product-table tbody tr td:last-child button.variant-success {
  background-color: #28a745;
  color: #fff;
}

/* Red background for 'Disable' button */
.edit-product-table tbody tr td:last-child button.variant-danger {
  background-color: #dc3545;
  color: #fff;
}

/* Styling for the availability column - EDIT PRODUCT */
.edit-product-table tbody tr td:nth-child(6) {
  font-weight: bold; /* Make the text bold */
  padding: 6px 12px; /* Add padding to the cell */
  border-radius: 4px; /* Rounded corners */
}

/* Styles for different availability states */
.edit-product-table tbody tr td:nth-child(6) span {
  padding: 4px 8px; /* Padding for the availability status */
  color: #fff; /* Font color for the text */
  border-radius: 4px; /* Rounded corners */
}

/* Green background for 'Available' status */
.edit-product-table tbody tr td:nth-child(6) span.available {
  background-color: #4caf50;
}

/* Red background for 'Unavailable' status */
.edit-product-table tbody tr td:nth-child(6) span.unavailable {
  background-color: #f44336;
}

/* Orange background for 'Low Stock' status */
.edit-product-table tbody tr td:nth-child(6) span.low-stock {
  background-color: #ff9800;
}

/*ADMIN DASHBOARD CSS styles*/
.admin-dashboard-container {
  padding: 70px;
  text-align: center;
}

.admin-dashboard-header {
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
}

.admin-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.admin-dashboard-card {
  width: 300px;
}

/*PRODUCT CARD CSS styles*/
.product-card-container {
  padding: 120px;
  height: calc(100vh - 100px);
  margin-top: 80px;
  display: flex; /* Set the container as a flex container */
  gap: 80px; /* Add some space between the cards */
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;

}

.product-card-header {
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
}

.product-card-wrapper {
  flex: 1; /* Distribute the available space evenly among the card wrappers */
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.product-card-card {
  width: 500px;
  margin: 10px;
}


/*PRODUCT VIEW - PREPEND-APPEND styles*/
.custom-input {
  width: 200px;
}

.custom-input .input-group {
  margin: 0 auto; /* Center the input group within the custom-input div */
}